<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Icons - Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/search-bar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/card-modal.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-post-modal.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user-modal.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js" defer></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto+Slab:wght@200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  </link>

</head>

<body>


  <!-- This is the post modal start -->
  <div class="post-modal">
    <i class="fas fa-times close-modal"></i>
    <!-- <section class="modal-container"> -->
    <!-- <i class="fas fa-times close-modal"></i> -->
    <div class="form-modalContainer">
      <section class="modal-container">
      </section>
      <form id="comments-form" method="post">
        <div class="form-group">
          <textarea class="form-control status-box" rows="3" placeholder="Enter your comment here..."></textarea>
        </div>
        <!-- <div class="button-group pull-right"> -->
        <button style=display:block class="btn btn-primary text-white submit-post">Post</button>
      </form>
      <div class="modal-likes-rating">
        <div class="heart-likes"></div>
        <div id="rating-container">
          <div class="meaning"></div>
          <i id="1-star" class="fa-2x fa fa-star rating-star"></i>
          <i id="2-star" class="fa-2x fa fa-star rating-star"></i>
          <i id="3-star" class="fa-2x fa fa-star rating-star"></i>
          <i id="4-star" class="fa-2x fa fa-star rating-star"></i>
          <i id="5-star" class="fa-2x fa fa-star rating-star"></i>
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
  <!-- This is the post modal end -->

  <!-- This is the user modal start -->
  <div class="user-modal">
    <i class="fas fa-times close-modal"></i>
    <section class="user-modal-container">

    </section>
  </div>
  <!-- This is the user modal end -->


  <!-- This is the new post modal start -->
  <div class="new-post-modal">
    <i class="fas fa-times close-modal"></i>
    <section class="new-post-modal-container">

    </section>
  </div>
  <!-- This is the new post modal end -->

  <div class="topnav">
    <span id="home-page" class="navbar-logo">RESOURCR.</span>
    <div class="search-bar">
      <form id="form" onsubmit="event.preventDefault();" role="search">
        <label for="search">Search for stuff</label>
        <input id="search" name="topic" type="search" placeholder="Search..." autofocus required />
        <button class="searchBarButton" type="submit">Go</button>
      </form>
    </div>

    <div class="navbar-links">
      <a href="#MyLikes" id="user-likes-button" class="underline">My Likes</a>
      <a href="#MyResources" id="user-posts-button" class="underline">My Creations</a>
      <a href="#EditProfile" class="underline edit-profile">Edit Profile</a>
    </div>
    <div class="user-icon">
      <i class="far fa-user"></i>
    </div>
    <div class="drop-down">
      <label for="select-user">Users</label>
      <select name="Users" id="user-selection">
        <option value="1" class="user-option">User 1</option>
        <option value="2" class="user-option">User 2</option>
      </select>
    </div>
  </div>

  <div class="post-container">
    <!-- posts are generated from app.js -->
  </div>
  <div class="new-post-btn">
    <i class="fas fa-plus"></i>
  </div>

</body>

</html>
