<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Icons - Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/dropdown-resources.css" type="text/css" />
  <link rel="stylesheet" href="/styles/search-bar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/card-modal.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto+Slab:wght@200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <!-- This is the modal start -->
  <div class="modal">
    <i class="fas fa-times close-modal"></i>

    <section class="modal-container">
      <!-- <div class="blue-background">
        <div class="modal-title">Title</div>
        <div class="modal-url">URL</div>
        <div class="modal-description">Description</div>
        <div class="modal-comments">Comments</div>
        <div class="modal-likes-rating">
          <i class="fas fa-heart"></i>
          <div class="ratings">
            <p>Rate this post</p>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div> -->
    </section>
  </div>
  <!-- This is the modal end -->

  <div class="topnav">
    <a class="navbar-logo">RESOURCR.</span></a>
    <div class="search-bar">
      <form onsubmit="event.preventDefault();" role="search">
        <label for="search">Search for stuff</label>
        <input id="search" type="search" placeholder="Search..." autofocus required />
        <button type="submit">Go</button>
      </form>

    </div>
    <div class="dropdown">
      <button class="dropbtn">Resources
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">My Created Resources</a>
        <a href="#">My Liked Resources</a>
      </div>
    </div>

    <div class="edit-profile">
      <a href="#EditProfile">My Likes</a>
      <a href="#EditProfile">My Resources</a>
      <a href="#EditProfile">Edit Profile</a>

    </div>
    <div class="user-icon">
      <i class="far fa-user"></i>
    </div>
  </div>


  <div class="post-container">
    <div class="new-post-btn">
      <i class="fas fa-plus"></i>
      <!-- posts are generated from app.js -->
    </div>
  </div>
</body>

</html>
