.post-modal {
  background-color: rgba(8, 7, 7, 0.726);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem;
  color: white;
}

.form-modalContainer {
  background-color: #2D4057;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // min-height: 70vh;
  // min-width: 60vw;
  // max-height: 70vh;
  // max-width: 60vw;
}

.comments-form {
  width: 60%;
}

.form-group textarea {
  color: black;
  resize: none;

}

/////////
.modal-title {
  padding: 10px 20px ;
}

.modal-description {
  padding: 0px 20px ;
}

.modal-url {
  padding: 0px 20px ;
}

.close-modal {
  position: fixed;
  top: 8rem;
  right: 8rem;
  cursor: pointer;
  font-size: 3rem;
  color: white;
}

// .blue-background {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   padding: 1em;
//   height: 100%;
// }

.modal-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.modal-description {
  margin-top: 5%;
  font-size: 2rem;
}

.modal-url {
  margin-top: 5%;
  font-size: 1.5rem;
}

.ratings {
  display: flex;
}

// .heading {
//   color: #666666;
//   text-align: center;
//   margin: 0;
// }

body {
  font-family: Arial, sans-serif;
  color: #404040;
  background-color: #eee;
}


.container {
  background-color: transparent;
  display: flex;
  border: none;
  justify-content: space-around;
  height:200px;
  overflow: auto;
  width: 100%
}

.button-group {
  margin-bottom: 20px;
  justify-content: space-between;
}

.posts {
  align-items: center !important;
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 70%;
  text-align: left;
}

.posts li {
  background-color: #fff;
  color: black;
  border: 1.5px solid #d8d8d8;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
  box-shadow: 8px 8px 5px #888888;
  align-items: center;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.heart-likes {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart-likes.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

body {
  background: #000000;
}

.rating-star {
  color: white;
  font-size: 40em;
}

.rating-hover {
  color: #e2df26 !important;
}

.rating-chosen {
  color: #e2df26;
}

.no-rating {
  color: white;
}

i {
  text-shadow: 0px 0px 5px grey;
}

.modal-likes-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%
}

#rating-container {
  padding: 30px 30px;
}


.status-box {
  width: 100%;
}
