
:root {
  --card_width: 250px;
  --card_border_radius: 16px;
  --row_increment: 10px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;

}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #4097AA !important;
  background-image: url("https://www.transparenttextures.com/patterns/white-wave.png") !important;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
}

.post-container {

  min-height: 100%;
  margin: 0;
  padding: 15px 20px;
  max-width: 70vw;
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;

  background: #FA9483;

}

.card {
  padding: 0px;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);

  background-color: #F3DECA;

}

.new-post-btn {
  font-size: 60px;
  display: flex;
  color: white;
  position: fixed;
  bottom: 2%;
  right: 13%;
  cursor: pointer;
}

.card:hover {
  box-shadow: 8px 8px #888888;
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}

.imgContainer {
  display: flex;
  flex-direction: column;
  background-color: #F3DECA;
  border-radius: var(--card_border_radius);
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor: pointer;
  img {
   display: flex;
   flex-direction: column;
   justify-self:stretch;
   width: 100%;
   height: 90%;
   object-fit:cover;
   border-radius: var(--card_border_radius);
   border-bottom-left-radius: 1%;
   border-bottom-right-radius: 1%;
  }
  .post_rating {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-right: 10px;
  }
}

.bottomComponents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-heart {
  margin-top: 20%;
  padding-left: 10px;
}

.heartHover {
color: rgb(218, 59, 59);
}

.post_rating {
  color: #e2df26;

}
