.navbar-logo {
  font-size: 40px;
  color: white;
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px black;
  cursor: pointer;
}

#user-selection {
  cursor: pointer;
}

.user-option {
  cursor: pointer;
}

.navbar-links {
  display: flex;
  padding-left: 300px;
  font-size: 20px;
}

.user-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.user-icon {
  color: white;
  font-size: 30px;
  padding: 20px;
  justify-content: flex-end;
  text-shadow: 4px 4px black;

}


.topnav {
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  background-color: #2D4057;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}


//nav links underline
*{
  font-family: 'Poppins', sans-serif;
}

body,
html{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

